@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: #ffffff;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    opacity: .8;
}
ul {
    list-style: none;
}

.material-symbols-outlined {
    font-variation-settings: 
    'wght' 400,
    'GRAD' 0
    'opsz' 24
}

.fill {
    font-variation-settings: 
    'FILL' 1
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 244px;
    height: 100vh;
    border-right: 1px solid #ccc;
    padding: 20px;
    display: flex;
    background-color: #212121;
    flex-direction: column;
}
.logo {
    font-family: "Impact", bold;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    padding-left: .5em;
    margin-bottom: .5em;
}
.g-nav a, .sub-nav a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px;
}
.sub-nav {
    margin-top: auto;
}

main {
    background-color: #ffffff;
    margin-left: 244px;
    padding: 40px 0;
}
.story {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 640px;
    margin: 0 auto 40px;
    background:
      linear-gradient(
        to left,
        #7649fe 70%,
        #5643fd
      );
      padding: 2px 10px;
      border-radius: 30px;
}
.story-ring {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3px;
}
.story-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}